<div class="sidebar">
  <div class="profilepic">
    <a href="/"><img src="{{ site.author.logo }}" alt="logo"></img></a>
  </div>
  <h1 class="title"><a href="/">{{ site.blog.name }}</a></h1>
  <h2 class="sub-title">{{ site.blog.description }}</h2>
  <nav id="nav">
    <ul>
    {% for nav in site.data.nav %}
      <li><a href="{{ nav.href }}"{% if nav.newblank == true %}target="_blank"{% endif %}><i class="{{ nav.icon }}"></i>&nbsp;{{ nav.title }}</a></li>
    {% endfor%}
    </ul>
  </nav>
  <nav id="sub-nav">
    <a class="email" href="mailto:{{ site.author.email }}" title="邮件我" target="_blank"><i class="fa fa-weixin fa-2x"></i></a>
    <a class="weibo " href="#" title="新浪微博" target="_blank"><i class="fa fa-weibo"></i></a>
    <a class="github" href="{{ site.author.github }}" title="GitHub" target="_blank"><i class="fa fa-github fa-2x"></i></a>
    <a class="QQ" href="#" title="QQ我" target="_blank"><i class="fa fa-qq fa-2x"></i></a>
  </nav>
  <div id="license">
    <!-- <img alt="License" height="31" width="88" src="/res/img/license.png" /></a> -->
  </div>
</div>
